input:focus-visible,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ft_top_right h2 {
  color: var(--dark-900);
  font-family: var(--heading-font);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ft_top_right h4 {
  color: var(--grey-666);
  font-family: var(--body-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
}

.hnow_footer {
  /* padding: 40px 0; */
  border: 1px solid #a2b9cf;
}

.ft_newsletter {
  background: rgba(200, 181, 141, 0.3);
}

.ft_head_wrapper {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.ft_input {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #f8f8f4;
}

.ft_input input {
  border: none;
  background-color: transparent;
  color: #666;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 0;
  padding-bottom: 0;
}

.ft_top_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ft_input button {
  padding: 10px 30px;
  border: none;
  color: var(--dark-900);
  text-align: center;
  font-family: var(--body-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.ft_top {
  /* margin-top: 40px; */
  border: 1px solid #a2b9cf;
}

.ft_head {
  color: var(--dark-900);
  font-family: var(--heading-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 20px 0;
}

.ft_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ft_menu li:not(:last-child) {
  margin-bottom: 10px;
}

.ft_menu li a {
  display: inline-block;
  transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.ft_menu li a:hover {
  transform: translateY(-5px);
}

.ft_center_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #c8b58d;
  /* height: 280px; */
}

.ft_center_wrapper > div:not(:first-child) {
  border-left: 1px solid #c8b58d;
}

.ft_center_box {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.ft_bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 24px;
}

.ft_privacy {
  display: flex;
  align-items: center;
}

.ft_privacy > a:first-child {
  border-right: 1px solid var(--dark-900);
  padding-right: 10px;
  margin-right: 10px;
}

.ft_social ul {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.ft_social ul li:first-child {
  list-style: none;
  margin-left: -20px;
  /* optional for alignment */
}

.ym_cpy {
  text-transform: uppercase;
}
