/* ------------------------------------- animatin hero section csss ----------------------- */

.sequence_section {
  /* position: fixed; */
  /* top: 0;
  left: 0;
  width: 100%; */
  position: relative;
  overflow: hidden;
}

#image_sequence {
  width: 100%;
  height: auto;
  display: block;
  background-color: radial-gradient(
    561.33% 75.38% at 56.26% 52.09%,
    #1f3566 0%,
    #243f7a 50%,
    #1c2f5a 100%
  );
}

.hero_text {
  position: absolute;
  top: 12em;
  text-align: center;
  width: 100%;
}

.hero_text_content {
  position: relative;
}

.hero_text .subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9ed3ff;
  text-align: center;
  font-family: var(--allura);
  font-size: 60px;
  font-weight: 400;
  line-height: 24px;
}

.sec_hed_top {
  text-align: center;
}

.fea_mac_img {
  border: 1px solid #a2b9cf;
  position: relative;
  transition: 1s;
  margin-bottom: 30px;
}

.fea_mac_icon {
  border-radius: 50px;
  background: #f5f8fb;
  display: flex;
  width: 68px;
  height: 68px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 260ms cubic-bezier(0.2, 0.8, 0.2, 1),
    background 200ms ease, box-shadow 200ms ease;
  will-change: transform, background;
}

.fea_mac_img:hover .fea_mac_icon {
  background: var(--blue);
  rotate: 45deg;
}

.fea_mac_img:hover .fea_mac_icon svg path {
  stroke: var(--white);
}

.fea_mac_content_inner {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fea_mac_content_inner_btn {
  background: #eee;
  padding: 10px 24px;
  border-radius: 500px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-wrap: nowrap;
}

.fea_mac_content hr
{
  color: #7A8F9B;
  margin-top: 20px;
  margin-bottom: 24px;
}
