@media (min-width: 1900px) {
  .container-fluid {
    padding: 0 30px !important;
  }

  .container {
    max-width: 1600px !important;
  }
}

/*=========================                  =========================
===========================                  =========================
===========================      1710        ===========================
===========================                  ===========================*/

@media (max-width: 1710px) {
}

/*=========================                  =========================
===========================                  =========================
===========================      1601        ===========================
===========================                  ===========================*/

@media (max-width: 1601px) {
}

/*=========================                  =========================
===========================                  =========================
===========================      1441        ===========================
===========================                  ===========================*/

@media (max-width: 1441px) {
}

/*=========================                  =========================
===========================                  =========================
===========================      1281        ===========================
===========================                  ===========================*/

@media (max-width: 1281px) {
}

/*=========================                  =========================
===========================                  =========================
===========================      768px       ===========================
===========================                  ===========================*/

@media (max-width: 767px) {
}
